<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- jQuery -->
    <script src="../../js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />
    <script src="../../js/bootstrap.min.js"></script>

    <!-- angular js file -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <style>
      .container {
        width: 400px;
      }
    </style>
  </head>
  <body>
    <div ng-app="myapp" ng-controller="myctrl" class="container">
      <panel class="panel-default">
        <div class="panel-heading">DANH SÁCH HÀNG HÓA</div>
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th><a href="#" ng-click="sortBy('name')">Giảm Giá</a></th>
              <th><a href="#" ng-click="sortBy('price')">Đơn Giá</a></th>
              <th><a href="#" ng-click="sortBy('discount')">Sản Phẩm</a></th>
              <th><a href="#" ng-click="sortBy('date')">Ngày</a></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in products|orderBy:prop|limitTo:8:begin">
              <td>{{p.name | uppercase}}</td>
              <td>{{p.price | currency}}</td>
              <td>{{p.discount | percentage:2}}</td>
              <td>{{p.date | date:"MMMM-dd, yyyy"}}</td>
            </tr>
          </tbody>
        </table>
      </panel>
      <ul class="pager">
        <li>
          <a href="#" ng-click="first()"
            ><span class="glyphicon glyphicon-hand-up"></span
          ></a>
        </li>
        <li>
          <a href="#" ng-click="prev()"
            ><span class="glyphicon glyphicon-hand-left"></span
          ></a>
        </li>
        <li>
          <a href="#" ng-click="next()"
            ><span class="glyphicon glyphicon-hand-right"></span
          ></a>
        </li>
        <li>
          <a href="#" ng-click="last()"
            ><span class="glyphicon glyphicon-hand-down"></span
          ></a>
        </li>
      </ul>
    </div>
    <!-- <script src="../js/Prods.js"></script> -->
    <script>
      var app = angular.module("myapp", []);
      app.controller("myctrl", function ($scope, $http) {
        $scope.products = [];
        $http.get("Prods2.js").then(function (response) {
          $scope.products = response.data;
        });

        // $scope.products = list;

        $scope.prop = "name";
        $scope.sortBy = function (prop) {
          $scope.prop = prop;
        };

        $scope.begin = 0;
        $scope.pageCount = Math.ceil($scope.products.length / 8);
        $scope.first = function () {
          $scope.begin = 0;
        };
        $scope.first = function () {
          if ($scope.begin > 0) {
            $scope.begin -= 8;
          }
        };
        $scope.next = function () {
          if ($scope.begin < ($scope.pageCount - 1) * 8) {
            $scope.begin += 8;
          }
        };
        $scope.last = function () {
          $scope.begin = ($scope.pageCount - 1) * 8;
        };
      });

      app.filter("percentage", function ($filter) {
        return function (input, decimals) {
          return $filter("number")(input * 100, decimals) + "%";
        };
      });
    </script>
  </body>
</html>
