.form-area {
  /* margin-top: 100px; */
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

html {
  background-color: #ffffff;
}

.form-group label {
  font-weight: 600;
}

.btn-sm {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 16px;
  padding: 6px 16px;
  margin-top: 35px;
  min-width: 90px;
}

.forgot-pass{
    
/* margin-left: auto; */
    
display: block;
    
text-align: center;
    
/* text-decoration: none; */
    
color: #949494;
    
margin-top: 26px;
}

.forgot-pass:hover{
    color:#949494;
    text-decoration: none;
}

.form-area .title{

font-size: 26px;

text-align: center;

padding: 18px;
}

.form-control{
    min-height: 40px;
    /* color: red; */
}