/* mobile & tablet */
@media (max-width: 991.98px) {
}

/* tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* mobile */
@media (max-width: 767.98px) {
  .main .row .col-3 {
    display: none;
  }
  .banner {
    padding: 20px 15px;
    padding-top: 95px;
  }
  .carousel-item img {
    height: 230px;
  }
  .card {
    margin-bottom: 15px;
  }
  .card-exam {
    margin-top: 100px;
  }
  .list-footer-item {
    font-size: 12px;
    padding-right: 6px;
  }
  .main {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .pagination {
    margin-bottom: 0;
  }
  /* form login/register */
  .form-area {
    max-width: 320px;
    margin-top: 100px;
  }
  .card-footer{
    display: flex;
  }
}
