<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- angular js file -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- jQuery -->
    <script src="../../js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />
    <script src="../../js/bootstrap.min.js"></script>
    <style>
      .container {
        width: 700px;
      }
    </style>
  </head>
  <body>
    <div ng-app="myapp" ng-controller="myctrl" class="container">
      <form action="">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Bán Hàng Giải Khát</h2>
          </div>
          <table class="table">
            <tr>
              <th></th>
              <th>Tên Hàng</th>
              <th>Số Lượng</th>
              <th>Đơn Giá</th>
              <th>Thành Tiền</th>
            </tr>
            <tr ng-repeat="item in items" ng-init="item.quanity=1">
              <td><input type="checkbox" ng-model="item.buy" /></td>
              <td ng-bind="item.name"></td>
              <td>
                <input
                  type="number"
                  ng-model="item.quantity"
                  ng-disabled="item.buy"
                />
              </td>
              <td ng-bind="item.price|currency"></td>
              <td ng-bind="item.price*item.quantity|currency"></td>
            </tr>
          </table>
          <div class="panel-footer">Tổng Tiền: {{getAmount()|currency}}</div>
        </div>
      </form>
    </div>
    <script>
      var app = angular.module("myapp", []);
      app.controller("myctrl", function ($scope) {
        $scope.items = [
          {
            name: "Nước Ngọt",
            price: 10000,
          },
          {
            name: "Cà phê đen",
            price: 20000,
          },
          {
            name: "Thuốc Lá",
            price: 17000,
          },
        ];

        $scope.getAmount = function () {
          var amount = 0;
          for (var i = 0; i < $scope.items.length; i++) {
            if ($scope.items[i].buy) {
              amount += $scope.items[i].price + $scope.items[i].quantity;
            }
          }
          return amount;
        };
      });
    </script>
  </body>
</html>
