<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- angular js file -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- jQuery -->
    <script src="../../js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />
    <script src="../../js/bootstrap.min.js"></script>
    <style>
      .container {
        width: 700px;
      }
    </style>
  </head>
  <body>
    <div ng-app="myapp" ng-controller="myctrl" class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">TÍNH THƯỞNG TẾT NGUYÊN ĐÁN</h2>
        </div>
        <div class="panel-body">
          <form name="frmBonus">
            <div class="form-group">
              <label>Họ và tên</label>
              <input
                ng-model="fullname"
                name="txtfullname"
                required
                class="form-control"
              />
              <span ng-show="frmBonus.txtfullname.$invalid">Vui lòng nhập họ tên</span>
            </div>
            <div class="form-group">
              <label>Lương</label>
              <div class="input-group">
                <input
                  ng-model="salary"
                  name="txtSalary"
                  type="number"
                  min="2000000"
                  class="form-control"
                />
                <div class="input-group-addon">VNĐ</div>
              </div>
              <span ng-show="frmBonus.txtSalary.$invalid"
                >Lương ít nhất triệu</span
              >
            </div>
            <div class="form-group">
              <label>Giới tính</label>
              <div class="radio">
                <label
                  ><input
                    type="radio"
                    ng-model="gender"
                    value="NAM"
                  />Nam</label
                >
                <br />
                <label>
                  <input type="radio" ng-model="gender" value="NU" />Nữ</label
                >
              </div>
            </div>
            <div class="form-group">
              <label>Độ tuổi</label>
              <select
                ng-model="age"
                class="form-control"
                ng-options="x.age for x in ages"
              ></select>
            </div>
            <h4 ng-show="frmBonus.$valid">Chức mừng bạn đã nhập đúng</h4>
          </form>
        </div>
        <div class="panel-footer">
          TIỀN THƯỞNG:<strong>{{getBonus()|number:2}}</strong> VNĐ
        </div>
      </div>
    </div>
    <script>
      var app = angular.module("myapp", []);

      app.controller("myctrl", function ($scope) {
        $scope.ages = [
          {
            age: "Dưới 25",
            rate: 0.07,
          },
          {
            age: "Từ 25 đến 40",
            rate: 0.1,
          },
          {
            age: "Trên 40",
            rate: 0.15,
          },
        ];

        $scope.age = $scope.ages[1];
        $scope.gender = "NAM";

        $scope.getBonus = function () {
          var bonus = $scope.age.rate * $scope.salary;
          if ($scope.gender == "NU") {
            bonus += 200000;
          }

          return bonus;
        };
      });
    </script>
  </body>
</html>
