
.primary-color{
    color: var(--primary-color) !important;
}

.card:hover{
    cursor: pointer;
}

button:focus,
input{
    box-shadow: unset !important;
    outline: unset;
}

body{
    background-color: #fafafa;
}

.wrap{
    font-family: var(--Questrial);
}

ul{
    list-style: none;
    display: flex;
}

.btn-primary{
    background-color: #0075b4 !important;
}

.btn-primary:hover{
    background-color: #036092 !important;
}
a{
    color: unset;
}
a:hover{
    color: unset;
    text-decoration: none;
}