
.primary-color{
    color: var(--primary-color) !important;
}

.card:hover{
    cursor: pointer;
}

button:focus{
    box-shadow: unset !important;
    outline: unset;
}

body{
    background-color: #fafafa;
}

.wrap{
    font-family: var(--Questrial);
}

ul{
    list-style: none;
    display: flex;
}
