<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- angular js file -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- bootstrap file -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <style>
      form {
        width: 400px;
        border: 1px solid #999;
        padding: 10px;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div ng-app="myapp" ng-controller="myctrl">
      <form>
        <div class="form-group">
          <label>Chiều Dài:</label>
          <input ng-model="length" class="form-control" />
        </div>
        <div class="form-group">
          <label>Chiều Rộng:</label>
          <input ng-model="width" class="form-control" />
        </div>
        <div class="form-group">
          <label>Diện tích:</label>
          <input ng-model="acreage" class="form-control" />
        </div>
        <div class="form-group">
          <label>Chu vi:</label>
          <input ng-model="perimeter" class="form-control" />
        </div>
        <hr />
        <div class="form-group">
          <button class="btn btn-default" ng-click="calculate()">
            Calculate
          </button>
        </div>
      </form>
      <script>
        angular.module("myapp", []).controller("myctrl", function ($scope) {
          $scope.calculate = function () {
            var a = parseFloat($scope.width);
            var b = parseFloat($scope.length);

            $scope.acreage = a * b;
            $scope.perimeter = (a + b) * 2;
          };
        });
      </script>
    </div>
  </body>
</html>
